.hero-img{
  height: 100vh;
  width: 100%;
}

.hero-cta-button{
  background-color: whitesmoke;
  color: black;
  font-weight: 700;
  padding: 0.6em 2.2em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.hero-cta-button :hover{
  background-color: #235d91;
  color: silver;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(225deg, #00000000 1%, #248232ff 75%);
  /* background-image: linear-gradient(315deg, #040f0fff, #248232ff, #2ba84aff, #2d3a3aff, #fcfffcff); */

  /*backdrop-filter: blur(2px);
  */opacity: 1;
  transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
  -webkit-transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
  -moz-transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
  -ms-transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
  -o-transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
}

.hero-text{
  color: #ffffff;
  width: 450px;
  text-align: justify;
  padding: 2px 0px 12px 26px;
}

.hero-heading{
  color: #ffffff;
  margin-bottom: 15px;
}