.hero-img{
  height: 100vh;
  width: 100%;
}

.hero-cta-button{
  background-color: whitesmoke;
  color: black;
  font-weight: 700;
  padding: 0.6em 2.2em;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
.hero-cta-button :hover{
  background-color: #235d91;
  color: silver;
}

.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(300deg, #00000000 1%, #000000 75%);
  opacity: 1;
  transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}

.hero-text{
  width: 450px;
  text-align: justify;
  padding: 2px 0px 12px 26px;
}

.hero-heading{
  margin-bottom: 15px;
}