/* .hero-img{
  height: 100vh;
  width: 100%;
}

a.hero-cta-button {
  background-color: var(--forest-green);
  color: var(--rich-black);
  font-weight: 700;
  padding: 0.6em 2.2em;
  box-shadow: -2px 2px 5px rgba(0,0,0,0.6);
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

a.hero-cta-button:hover {
  background-color: var(--pigment-green);
  color: var(--white-smoke);
  margin-left: 2px;
  box-shadow: -4px 4px 5px rgba(0,0,0,0.6);
}

.overlay {
  height: 100vh;
  width: 100%;
  position: absolute;
  background-color: transparent;
  background-image: linear-gradient(225deg, #00000000 1%, var(--baby-powder) 75%);
  opacity: 1;
  transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
  -webkit-transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
  -moz-transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
  -ms-transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
  -o-transition: all 0.3s, border-radius 0.3s, opacity 0.3s;
}

.hero-text{
  color: var(--rich-black);
  font-weight: 500;
  font-size: 18px;
  width: 450px;
  text-align: justify;
  padding: 2px 0px 12px 26px;
}

.hero-heading{
  color: var(--rich-black);
  margin-bottom: 15px;
}


@media (max-width: 768) {
  .hero-img{
    height: auto;
    width: 100%;
  }
} */