:root {
  font-family: "Apercu", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0008a5;
  text-decoration: inherit;
  margin-right: 12.59px;
}
a:hover {
  color: #0303f7;
  font-weight: 800;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  /* margin: 0; */
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 2.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #235d91;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -ms-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
}
button:hover {
  scale: 1.05px;
  letter-spacing: 0.5px;
  color: whitesmoke;
  background-color: #235d91;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Media Queries */
@media (prefers-color-scheme: light) {
  :root {
    color: #ffffff;
    background-color: #213547;
  }
  a:hover {
    color: #0d339e;
  }
  button {
    background-color: #f9f9f9;
  }
}

progress{
  display: none;
}

ol > li + li {
  margin-bottom: 5px;
}